<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="false"
        android:label="SyncPak"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:usesCleartextTraffic="false">
        <activity
            android:name=".SyncPakActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:resizeableActivity="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="sync_pak" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".SyncExecutionService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
    </application>
</manifest>
